---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Wincor-Nixdorf" description="ATM Vendor Manufacturer">
    <div class="container">
	  <img class="contactus" src="/images/contactus.png" alt=""/>
	  <p class="mt-3">
		<h5>Our Address :</h5>		
		Lot No. 6, Cluster D, Bagong Nayon 1, Anticpolo City<br>
		Telephone No. +632-0343-23, +632-0653-343<br/>
		Email Address : <a href="construction.info@usa.com">construction.info@usa.com</a>

	  </p>
  </div>	      
  
</Layout>