---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Wincor-Nixdorf" description="ATM Vendor Manufacturer">
	<div id="carouselExampleIndicators" class="carousel slide">
		<div class="carousel-indicators">
		  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
		  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
		</div>
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<img src="/images/1.png" class="d-block w-100 embossed-image" alt="...">
		  </div>
		  <div class="carousel-item">
			<img src="/images/2.png" class="d-block w-100 embossed-image" alt="...">
		  </div>
		  <div class="carousel-item">
			<img src="/images/3.png" class="d-block w-100 embossed-image" alt="...">
		  </div>
		  <div class="carousel-item">
			<img src="/images/4.png" class="d-block w-100 embossed-image" alt="...">
		  </div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Next</span>
		</button>
	  </div>	
	  <p class="justify mx-2">
		Construction marketing encompasses strategies and tactics used by building-related companies to attract clients, increase brand awareness, and grow their business by communicating their services through various channels like websites, digital ads, social media, and traditional media. Effective construction marketing involves understanding a niche audience and their unique needs, building trust and confidence through high-quality content and demonstrating value, and nurturing relationships with past clients to foster loyalty and generate referrals			
		<br>
		<h5 class="text-center">Key Aspects of Construction Marketing</h5>
		<p>
			<p class="justify mx-2">
				<strong>Building Trust:</strong>

			Given the high-investment, long-term nature of construction projects, marketing aims to build client confidence and a strong reputation. 
			</p>
			<p class="justify mx-2">
				<strong>Relationship Focus:</strong>
				Nurturing relationships with past clients through ongoing communication fosters loyalty, leads to referrals, and encourages repeat business. 								
			</p>
			<p class="justify mx-2">
				<strong>Networking and Referrals:</strong>
				In-person networking and leveraging past client relationships can generate leads and new business. 
				
			</p>
		</p>
	  </p>
</Layout>