---
import Layout from "../layouts/Layout.astro";
import ProdCatalog from "../components/ProdCatalog";
---
<Layout title="Wincor-Nixdorf" description="ATM Vendor Manufacturer">
    <ProdCatalog client:load/>
</Layout>
</div>