<div class="modal fade" id="staticMfa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticMfaLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h1 class="modal-title text-white fs-5" id="staticMfaLabel">Timebased OTP</h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
              <div class="mb-3">
                <input type="text" required class="form-control" id="otp" placeholder="enter 6-digit OTP code">
              </div>
              <button type="submit" class="btn btn-warning">submit</button>
          </form>
        </div>
        <div class="modal-footer">
              <div class="w-100 text-center text-danger">message</div>
        </div>
      </div>
    </div>
  </div>