---
import Login from './Login.astro';
import Register from './Register.astro';
import getUsername from './getUsrename';
import getUserpic from './getUsrepic';
// import logout from './logout';
---

<getUsername client: load />
<getUserpic client:load/>
<!-- <logout client:load/> -->


<div id="content" class="container-fluid">
  
  
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand text-danger" href="/"><strong>Wincor-Nixdorf</strong></a>
        <button class="navbar-toggler" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasWithBothOptions">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Products List</a></li>
              <li><a class="dropdown-item" href="#">Products Catalog</a></li>
              <li><hr class="dropdown-divider"/></li>
              <li><a class="dropdown-item" href="#">Product Search</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        </ul>

        { getUsername["username"] === "" ? (
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#staticLogin">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#staticRegister">Register</a>
          </li>
        </ul>
        ) : (

          <ul class="nav">  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="user" src={getUserpic().userpic} alt=""/>&nbsp;{getUsername().username}
            </a>
            <ul class="dropdown-menu">
              <li data-bs-dismiss="offcanvas">
                <a onclick="logout();" class="dropdown-item" href="/#">Logout</a></li>
              <li data-bs-dismiss="offcanvas">
                <a class="dropdown-item" href="/profile">Profile</a></li>
              <li><hr class="dropdown-divider"/></li>
              <li data-bs-dismiss="offcanvas">
                <a class="dropdown-item" href="/#">Messenger</a></li>
            </ul>
          </li>
        </ul>           

        )}

      </div>
    </div>
  </nav>
  <Login/>    
  <Register/>

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" id="offcanvasMenu" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header bg-primary">
      <h5 class="offcanvas-title text-white" id="offcanvasWithBothOptionsLabel">Drawer Menu</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

      <ul class="nav flex-column">
        <li class="nav-item" data-bs-dismiss="offcanvas">
          <a class="nav-link emboss-menu" aria-current="page" href="/about">About Us</a>
        </li>
        <li class="nav-item"><hr/></li>
        <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle emboss-menu" href="/#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
              </a>
              <ul class="dropdown-menu">
                <li data-bs-dismiss="offcanvas"><a class="dropdown-item" href="/productlist">Products List</a></li>
                <li><hr class="dropdown-divider"/></li>
                <li data-bs-dismiss="offcanvas"><a class="dropdown-item" href="/productcatalog">Products Catalog</a></li>
                <li><hr class="dropdown-divider"/></li>
                <li data-bs-dismiss="offcanvas"><a class="dropdown-item" href="/productsearch">Product Search</a></li>
              </ul>
          </li>

          <li class="nav-item"><hr/></li>
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link emboss-menu" aria-current="page" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item"><hr/></li>

          </ul>

            {/* <ul class="navbar-nav mr-auto">              
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="/#" role="button" data-bs-toggle="dropdown" aria-expanded="false">                   
                      <img class="user" src={userpic()} />&nbsp;{ username()}
                  </a>
                  <ul class="dropdown-menu">
                    <li data-bs-dismiss="offcanvas">
                      <a class="dropdown-item" href="/#">LogOut</a>
                    </li>
                    <li class="nav-item"><hr/></li>
                    <li data-bs-dismiss="offcanvas">
                      <a class="dropdown-item" href="/profile">Profile</a> 
                    </li>
                    <li><hr class="dropdown-divider"/></li>
                    <li data-bs-dismiss="offcanvas">
                      <a class="dropdown-item" href="/#">Messenger</a>
                    </li>
                  </ul>
                </li>          
                <li class="nav-item"><hr/></li>                                        
              </ul>       */}

              
                <ul class="nav flex-column">
                  <li class="nav-item" data-bs-dismiss="offcanvas">
                    <a class="nav-link emboss-menu" href="/#" data-bs-toggle="modal" data-bs-target="#staticLogin">Login</a>
                  </li>
                  <li class="nav-item"><hr/></li>
                  <li class="nav-item" data-bs-dismiss="offcanvas">
                    <a class="nav-link emboss-menu" href="/#" data-bs-toggle="modal" data-bs-target="#staticRegister">Register</a>
                  </li>            
                </ul>
    </div>
    </div>
</div>

<script lang="javascript">
  const logout = () => {
    globalThis.username = "";
    globalThis.userpic = "";
    sessionStorage.removeItem('USERID');
    sessionStorage.removeItem('USERNAME');
    sessionStorage.removeItem('USERPIC');
    sessionStorage.removeItem('TOKEN');
  }

  const uname = sessionStorage.getItem('USERNAME');
  if (uname !== null) {
    globalThis.username = uname;
    document.getElementById("username").innerHTML = uname;
  }
  const upic = sessionStorage.getItem('USERPIC');
  if (upic !== null) {
    globalThis.userpic = upic;
  }

</script>

