---
import "bootstrap/dist/css/bootstrap.min.css";
import "../assets/css/styles.css";
import Header from "../components/Header.astro";
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    	<title>{title}</title>		
	</head>

	<body>
	<div id="content"></div>
	  
	<header>
		<Header/>
		<!-- <NavigatorMenu/> -->
		<!-- <Navigator currentPath={Astro.url.pathname} /> -->
	</header>

	<main>
		<slot />
	</main>

	<footer>
		<Footer/>
	</footer>


    <script>
      import "bootstrap/dist/js/bootstrap.bundle.min.js";	  
    </script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
